*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 
}

.hero{
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 45px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 2px 3px;
}

nav ul li a:hover{
    color:white;
    font-weight: 500;
    margin: 1px solid black ;
    background-color: black;
    border-radius: 5px;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
    font-family: 'Arima', cursive;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    font-family: 'Arima', cursive;
}

span{
    color: blue;
    font-size: 37px;
    
}

.detel p{
    font-size: 20px;
    font-weight: bold;
    
    color: rgb(0, 0, 0);
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.detel a:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
}

.images {
    width: 48%;
    height: 82%;
    position: absolute;
    bottom: 0px;
    right: 130px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 50px;
}

.images:hover .girl{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: rgb(255, 13, 0);
}
